<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="warning">TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="warning">TellevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-title>Verificar disponibilidad</ion-card-title>
  <ion-card-subtitle></ion-card-subtitle>
<ion-card-content>
<ion-item>
  <img src="assets/icon/perfil_usuario.png" width="20%" ng-fallimg> Nombre Usuario
</ion-item>
<br>
<ion-item color="warning">
 <ion-input label="Zona 1"></ion-input>
 <ion-button shape="round" size="small" [routerLink]="['/no-dispo']">Verificar</ion-button><br>
</ion-item>
<ion-item color="warning">
  <ion-input label="Zona 2"></ion-input>
  <ion-button shape="round" size="small" [routerLink]="['/no-dispo']">Verificar</ion-button><br>
 </ion-item>
  <ion-item color="warning">
    <ion-input label="Zona 3"></ion-input>
    <ion-button shape="round" size="small" [routerLink]="['/si-dispo']">Verificar</ion-button><br> 
   </ion-item>
</ion-card-content>
   <ion-button shape="round" size="small" [routerLink]="['/alert']">Volver atras</ion-button><br> 
</ion-content>
