<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TellevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-header>


    <!--<mat-slide-toggle>Hola</mat-slide-toggle>-->
    <ion-card-title>Contraseña modificada con exito!</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-button shape="round" size="small" [routerLink]="['/home']">Ir a Inicio de sesion</ion-button><br>
  </ion-card-content>
</ion-content>
