<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="warning">TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="warning">TellevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-title>Aun hay disponibilidad de vehiculos por esta zona!!</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  <ion-card-content>
    <ion-button shape="round" size="small" [routerLink]="['/verificar-disp']">Volver</ion-button><br>
    <ion-button shape="round" size="small" [routerLink]="['/reserva2']">Solicitar viaje</ion-button><br>
  </ion-card-content>
</ion-content>
