<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="warning">TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="warning">TellevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-header>


    <!--<mat-slide-toggle>Hola</mat-slide-toggle>-->
    <ion-card-title>Debes verificar si hay disponibildad de vehiculos</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-button shape="round" size="small" [routerLink]="['/verificar-disp']">Ver disponibildad</ion-button><br>
  </ion-card-content>
</ion-content>
