#main-content{
    background-color: aqua;

}

#ion-menu-option{
    text-decoration: aliceblue;
}

#ion-menu{
    background-color: aqua;
}

#ion-title{
    text-decoration: aliceblue;
}

#img{
    image-rendering: auto;
    margin-left: 30%;
    margin-right: 20%;
}