<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="primary" name="TellevoAPP"></ion-menu-button>
      </ion-buttons>
      <ion-title size="large" color="warning">TellevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
   <ion-list>
     <ion-item>Home</ion-item>
     <ion-item>Nosotros</ion-item>
     <ion-item [routerLink]="['/home']">Iniciar Sesion</ion-item>
     <ion-item [routerLink]="['/registro']">Registrarse</ion-item>
     <ion-item>Nuestros Choferes</ion-item>
     <ion-item>Patrocinadores</ion-item>
   </ion-list>
  </ion-header>
    <!--<ion-content class="ion-padding">nosotros</ion-content>-->
 </ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="warning">TellevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card-title color="warning">BIENVENIDOS A <br> TellevoAPP!</ion-card-title>
  <img src="assets/icon/Tellevoport.jpg" width="100%" ng-fallimg>
  <!--<ion-content class="ion-padding"> Bienvenidos a TellevoAPP!</ion-content>-->
  <ion-content>
    <img src="assets/icon/perfil_usuario.png" width="25%" ng-fallimg>Inicio
  </ion-content>
  <ion-content>
    <img src="assets/icon/taxi_nov.jpg" width="30%" ng-fallimg> Servicios
  </ion-content>
  <ion-content>
    <img src="assets/icon/noticias_taxis.png" width="30%" ng-fallimg> Actualidad
  </ion-content>
  <ion-router-outlet id="menu" main></ion-router-outlet>
</div>
