#strong b{
    text-align: center;
    justify-content: center;
  }

  #div b{
    text-align: center;
  }

#container strong {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }

  #strong {
    text-align: center;
    justify-content: center;
  }

  